body {
	min-width: 500px;
}

h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 -15px;
}

h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 0;
}

ul {
	padding-left: 5px;
}

ul li {
	list-style: none;
}

div#main {
	text-align: center;
}

div#question {
    margin: 0px 0px 40px 0px;
    padding: 50px 50px;
}

div#question p.correct {
	position: absolute;
	color: red;
	font-weight: bold;
	font-size: 10em;
	font-family :Quicksand, sans-serif;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display:none
}

div#question p.incorrect {
	position: absolute;
	color: blue;
	font-weight: bold;
	font-size: 13em;
	font-family :Quicksand, sans-serif;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display:none
}

div#question p.incorrect-ins {
	position: absolute;
	color: blue;
	font-weight: bold;
	font-size: 13em;
	font-family :Quicksand, sans-serif;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	display:none
}

div#result {
    font-size: 250%;
    margin: 0;
    padding: 0;
	display:none
}

div#arg_lv1_1 {
	font-size: 300%;
	float: left;
	width: 30%;
}

div#arg_lv1_2 {
	font-size: 300%;
	float: left;
	width: 30%;
}

div#sign_lv1_1 {
	font-size: 350%;
	float:left;
	width:40%;
}

div#arg_lv2_1 {
	font-size: 300%;
	float: left;
	width: 20%;
}

div#arg_lv2_2 {
	font-size: 300%;
	float: left;
	width: 20%;
}

div#arg_lv2_3 {
	font-size: 300%;
	float: left;
	width: 20%;
}

div#arg_lv3_1 {
	font-size: 300%;
	float: left;
	width: 10%;
}

div#arg_lv3_2 {
	font-size: 300%;
	float: left;
	width: 10%;
}

div#arg_lv3_3 {
	font-size: 300%;
	float: left;
	width: 10%;
}

div#arg_lv3_4 {
	font-size: 300%;
	float: left;
	width: 10%;
}

div#sign_lv2_1 {
	font-size: 350%;
	float:left;
	width:20%;
}

div#sign_lv2_2 {
	font-size: 350%;
	float:left;
	width:20%;
}

div#sign_lv3_1 {
	font-size: 350%;
	float:left;
	width:20%;
}

div#sign_lv3_2 {
	font-size: 350%;
	float:left;
	width:20%;
}

div#sign_lv3_3 {
	font-size: 350%;
	float:left;
	width:20%;
}

table td {
	line-height: 4.5em;
}

td a.btn {
	min-width: 180px;
	margin-bottom: 0em;
}

input[type=text].form-control {
	width: 85%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div#form {
	margin-top: -1.5em;
	margin-bottom: 1em;
}

div#number {
	font-size: 250%;
}